@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-front:hover{
    transform: translate(0%,15%) rotate(0deg);
    transition: all 0.7s ease;
}
.wrapper{
    width: 70vw;

    margin: auto;
}

.deck-cards{
    margin: auto;
}
.card{
    position: absolute;
    transform: translateX(40vw) translateY(10vh);
    margin: auto;
    /* display: none; */
}
.deck-container{
    /* position: relative; */
    /* left: 40%; */
    /* top: 30px; */
    /* background-color: green; */
    margin: auto;
    height: 300px;
    width: 100%;
}
.test{
    width: 20px;
    height: 30px;
    background-color: antiquewhite;
    margin: auto;
}
.card-front{
    width: 225px;
    height: 320px;
}



.back{
    display: none;
}
.show{
    display: block;
}

.font-container{
    position: relative;

    top: -300px;
    left: 0%;
    width: 300px;

}

.letters{
    color: #6c2c3c;
    line-height:1;
    font-size: xx-large;
    font-family: 'Luxus Brut';
    font-weight: normal;
    font-style: normal;
}
.arrow{
    transform: rotateY(180deg) rotate(-270deg) translateY(300%) translateX(100%);
    position: relative;
    top: -50px;
    
    }

.Buttons{
    /* /* position: relative; */
    /* margin: auto; */
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: blue; */
    width: fit-content;
    
    }

.shuffleButton {
        margin: auto;
        /* background-color: brown; */
        border: none;
        padding: 15px 32px;
        font-size: 16px;
        background-color: #6c2c3c;
        color: white;
        border-radius: 7px;
        
}

.reset {


    border: none;
    font-size: 16px;
    padding: 15px 32px;
    background-color: #6c2c3c;
    color: white;
    border-radius: 7px;
    
    }

.selected-card{
    width: fit-content;
    position: relative;
    /* top: 100px; */
    left: 15%;
    /* background-color: red; */
}
.cardDay{
    position: relative;
    top: -100px;
    width: 70vw;
    margin: auto;
}

.selected-card{
    display: flex;
}
.card-desc{
    position: relative;
    
    left: 50px;
}
.desc{
    position: relative;
    width: 300px;
    height: 400px;
    overflow-y: scroll;


}

.your-card img{
    position: relative;

    width: 300px;
    aspect-ratio: auto 300 / 450;
    height: 450px;
    /* left: 20%; */
}



h1 {
    overflow: hidden;
    text-align: center;
  }
  
  h1:before,
  h1:after {
    background-color:#6c2c3c;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    /* vertical-align: middle; */
    width: 30%;
  }
  
  h1:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  h1:after {
    left: 0.5em;
    margin-right: -50%;
  }


  .cardFlip{
    transform: translate(2%) rotateY(180deg);
    transition: 1s ease;
    /* transform: translateX(5%); */

}
/* .cardFlip_1{
    transform: translate(2%) rotateY(180deg);
    transition: 1s ease;
    /* transform: translateX(5%); */

/* } */

.card-desc h2{
    color: #6c2c3c;
    line-height:1;
    font-size: xxx-large;
    font-family: 'Luxus Brut';
    font-weight: normal;
    font-style: normal;
}


h3{
    font-family: 'Source Sans Pro ';
    color: #6c2c3c;
     font-weight: normal;
      font-style: normal;
      font-size: xx-large;
      padding-bottom: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      margin-top: 0px;
}

.desc{
    height: 40vh;
    overflow: auto;

    word-spacing: 1px;
    line-height: 1.5;
    font-weight: 390;
    font-family: 'Source Sans Pro ';
}



@media screen and (max-width: 1025px) {
    .deck-container{

        margin: auto;
        height: 300px;
        width: 100%;
        transform: translateX(-182px);
    }
    .font-container{
        position: relative;
    
        top: -300px;
        left: 2vw;
        width: 300px;
    
    }
    .Buttons{
        /* /* position: relative; */
        /* margin: auto; */
        margin-top: 180px;
        margin-right: auto;
        margin-left: auto;
        /* background-color: blue; */
        width: fit-content;
        
        }

}

@media screen and (max-width: 1025px) {
    .deck-container{

        margin: auto;
        height: 300px;
        width: 100%;
        /* transform: translateX(-182px); */
    }
    .font-container{
        position: relative;
    
        top: -300px;
        left: -10vw;
        width: 300px;
    
    }
    .Buttons{
        /* /* position: relative; */
        /* margin: auto; */
        margin-top: 180px;
        margin-right: auto;
        margin-left: auto;
        /* background-color: blue; */
        width: fit-content;
        
        }
    .selected-card{
            width: fit-content;
            position: relative;
            /* top: 100px; */
            left: -5%;
            /* background-color: red; */
        }

        .font-container{
            position: relative;
        
            width: fit-content;
        
        }
    .letters{
        width: fit-content;
        margin: 0;
        z-index: -100;
    }

}


@media screen and (max-width: 427px) {
    .deck-container{
        position: relative;
        margin: auto;
        height: 300px;
        width: 100%;
        top: 7vh;
        /* transform: translateX(-182px); */
    }

    .front img{
        width:120px;
        height: 170px;
        /* display: none; */

    }
    .font-container{
        position: relative;
        transform: translateY(-9vh) translateX(20vw);
    }
    .Click_deck{
        margin-top: 10%;
    }
    .arrow{
        display: none;
    }
    .Buttons{
        /* /* position: relative; */
        /* margin: auto; */
        margin-top: 5vh;
        margin-right: auto;
        margin-left: auto;
        /* background-color: blue; */
        width: fit-content;
        
        }
    .shuffleButton {
            margin: auto;
            /* background-color: brown; */
            border: none;
            padding: 10px 15px;
            font-size: 9px;
            background-color: #6c2c3c;
            color: white;
            border-radius: 7px;
            
    }
    
    .reset {
        
        margin-left: 15px;
        border: none;
        font-size: 9px;
        padding: 10px 15px;
        background-color: #6c2c3c;
        color: white;
        border-radius: 7px;
        
        }

        .selected-card{
            display: flex;
            flex-flow: column;
        }
        .your-card img{
            position: relative;
            top: -50px;
            /* left: 20%; */
        }
        
        .card-desc{
            position: relative;
            top: 40px;
            left: 0px;
            text-align: center;

        }
}

h2{
    font-family: 'Source Sans Pro ';
}

.desc{
    font-family: 'Source Sans Pro ';
}
